@import '../../general.scss';

.skills {
  background-color: $grey;

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.2rem;
  }

  &__title {
    color: $dark;
  }

  &__subtitle {
    color: $aquaMarine;
  }

  &__icon {
    background-image: url('./light.png');
  }
}