@import '../../general.scss';

.preview {
  font-family: 'Code-Pro';
  font-weight: 400;
  font-size: 20px;
  padding-top: .8rem;
  padding-bottom: 6rem;
  background-color: $aquaMarine;

  &__title {
    color: white;
  }

  &__subtitle {
    color: $dark;
  }

  &__text {
    color: white;
    margin-top: 4rem;
  }

  &__icon {
    background-image: url('./dev.png');
  }
}