@import '../../general.scss';

.preview {
  font-family: 'Code-Pro';
  font-weight: 400;
  font-size: 20px;
  background-color: $aquaMarine;

  &__title {
    color: white;
  }

  &__subtitle {
    color: $dark;
  }

  &__text {
    color: white;
  }

  &__icon {
    background-image: url('./dev.png');
  }
}