.progress {
  &__text {
    font-family: 'Code-Pro';
    font-weight: 400;
    font-size: 18px;
  }
  &__bar {
    &-icon {
      width: 100%;
      max-width: 40px;
      img {
        width: 100%;
      }
    } 
  }
}