@import './general.scss';

.frame {
  position: fixed;
  background-color: $dark;
  z-index: 200;
  @media(max-width: 560px) {
    display: none;
  }
  &-left {
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
  }
  &-top {
    top: 0;
    height: 20px;
    width: 100%;
  }
  &-right {
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
  }
  &-bottom {
    bottom: 0;
    height: 20px;
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}

.icon {
  position: relative;
  max-width: 100px;
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: 100%;
  margin-bottom: 1rem;
  @media(max-width: 560px) {
    max-width: 75px;
    margin-bottom: 0px;
  }
}

.line {
  width: 300px;
  height: 1px;
  background-position: center;
  background-size: 100%;

  &-light {
    background-image: url('./assets/img/lightline.png');
  }

  &-dark {
    background-image: url('./assets/img/darkline.png');
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  @include fontSize(56, 37);
  font-family: 'Code-Pro';
  font-weight: 400;
  margin: 1rem 0 .3rem 0;
}

.subtitle {
  @include fontSize(36, 26);
  font-weight: 400;
  font-family: 'Bello-Pro';
}

.text {
  @include fontSize(42, 24);
  font-family: 'Code-Pro';
  margin-top: 4rem;
  line-height: calc(1.6rem + 1.6vw);
  @media(max-width: 560px) {
    margin-top: 2rem;
  }
}