@import './reset.scss';

$aquaMarine: #15b6a1;
$superDark: #4c4c55;
$dark: #32323a;
$black: #222;
$blue: #8bd6cf;
$grey: #eeeeee;
$greyLight: #f5f4f2;
$orange: #ff9508;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Code-Pro';
  src: url("./assets/fonts/Code-Pro.woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Bello-Pro';
  src: url("./assets/fonts/Bello-Pro.woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Code-Pro';
  src: url("./assets/fonts/Code-Pro-Bold.woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Kronaone';
  src: url("./assets/fonts/Kronaone.woff");
}

body {
  padding: 20px;
}

section {
  padding: 2.2rem 1.5rem 6rem 1.5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}