@import './reset.scss';

$aquaMarine: #15b6a1;
$dark: #32323a;
$grey: #eeeeee;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Code-Pro';
  src: url("./assets/fonts/Code-Pro.woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Bello-Pro';
  src: url("./assets/fonts/Bello-Pro.woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Code-Pro';
  src: url("./assets/fonts/Code-Pro-Bold.woff");
}

body {
  padding: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.icon {
  position: relative;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: 100%;
}

.line {
  width: 300px;
  height: 1px;
  background-position: center;
  background-size: 100%;

  &-light {
    background-image: url('./assets/img/lightline.png');
  }

  &-dark {
    background-image: url('./assets/img/darkline.png');
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: 'Code-Pro';
  font-weight: 400;
  margin: 1rem 0 .3rem 0;
}

h5 {
  font-size: 31px;
  font-weight: 400;
  font-family: 'Bello-Pro';
}

p {
  font-size: 37px;
  line-height: 45px;
}