@import '../../general.scss';

.contacts {
  background-color: $greyLight;
  &__subtitle {
    color: $aquaMarine;
  }
  &__icon {
    background-image: url('./mail.svg');
  }
  &__text {
    @include fontSize(42, 14);
    transition: .1s linear color;
    &:hover {
      color: $aquaMarine;
    }
  }
  &__phone {
    @media(max-width: 560px) {
      margin-top: 0vw;
    }
  }
}